// Menu wrapper
.menu-list{
    width: 224px;
    padding: 4px 0;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper{
    padding-bottom: 8px;
}

// Menu items
.menu-item{
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px 8px;
    color: rgba(22, 24, 35, 1);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}