.wrapper{
    padding: 20px 8px 24px 8px;
    border-top: 1px solid rgba(22, 24, 35, .12);
    border-bottom: 1px solid rgba(22, 24, 35, .12);
}

.desc{
    font-size: 16px;
    line-height: 21px;
    color: rgba(22, 24, 35, .5);
}

.desc-btn{
    margin-top: 20px;
    width: 208px;
    font-size: 18px;
    line-height: 25px;
}
