.search,
.search-result {
    width: 500px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-size: 1.4rem;
}

.search {
    display: flex;
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    background-color: #f1f1f2;
    border-radius: 92px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--black);
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #4c4e57;
    }

    &:hover {
        border-color: var(--search-color);
        cursor: pointer;
    }

    &:hover .search-icon {
        color: var(--black);
    }

    &:hover .search-btn {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-button-width);
        height: calc(var(--search-height) - 18px);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #a7a7ab;
}

.loading {
    animation: spinner .5s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: var(--search-color);
    font-size: 1.8rem;

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
