.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.innner {
    padding: 0 24px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
}

.logo {
    padding-right: 182px;
}

.search,
.search-result {
    width: 500px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-size: 1.4rem;
}

.search {
    display: flex;
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    background-color: #f1f1f2;
    border-radius: 92px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        font-weight: 400;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #4c4e57;
    }

    &:hover {
        border-color: var(--search-color);
        cursor: pointer;
    }

    &:hover .search-icon {
        color: var(--black);
    }

    &:hover .search-btn {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-button-width);
        height: calc(var(--search-height) - 18px);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #a7a7ab;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: var(--search-color);
    font-size: 1.8rem;

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn{
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 20px;
    padding: 8px 8px 0 8px;
    background-color: var(--white);
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}